{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "question1"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="question3" method="get">

      {{ govukRadios({
        idPrefix: "endangered",
        name: "endangered",
        fieldset: {
          legend: {
            text: "Are your goods endangered?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          },
          {
            value: "not-sure",
            text: "Not sure"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
      </form>

    </div>
  </div>

{% endblock %}